<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>StringsTable</key>
    <string>Statistics</string>
    <key>Title</key>
    <string>Statistiques</string>
    <key>PreferenceSpecifiers</key>
    <array>
        <!-- Section : Statistiques d'apprentissage -->
        <dict>
            <key>Type</key>
            <string>PSGroupSpecifier</string>
            <key>Title</key>
            <string>Statistiques d'apprentissage</string>
        </dict>
        
        <!-- Nombre d'enseignes mémorisées -->
        <dict>
            <key>Type</key>
            <string>PSTitleValueSpecifier</string>
            <key>Title</key>
            <string>Enseignes mémorisées</string>
            <key>Key</key>
            <string>learned_stores_count</string>
            <key>DefaultValue</key>
            <string>0</string>
        </dict>
        
        <!-- Nombre de préférences de couleurs -->
        <dict>
            <key>Type</key>
            <string>PSTitleValueSpecifier</string>
            <key>Title</key>
            <string>Préférences de couleurs</string>
            <key>Key</key>
            <string>color_preferences_count</string>
            <key>DefaultValue</key>
            <string>0</string>
        </dict>
        
        <!-- Section : Enseignes favorites -->
        <dict>
            <key>Type</key>
            <string>PSGroupSpecifier</string>
            <key>Title</key>
            <string>Enseignes favorites</string>
            <key>FooterText</key>
            <string>Les 3 enseignes les plus utilisées</string>
        </dict>
        
        <!-- 1ère enseigne favorite -->
        <dict>
            <key>Type</key>
            <string>PSTitleValueSpecifier</string>
            <key>Title</key>
            <string>🥇 Première</string>
            <key>Key</key>
            <string>top_store_1</string>
            <key>DefaultValue</key>
            <string>-</string>
        </dict>
        
        <!-- 2ème enseigne favorite -->
        <dict>
            <key>Type</key>
            <string>PSTitleValueSpecifier</string>
            <key>Title</key>
            <string>🥈 Deuxième</string>
            <key>Key</key>
            <string>top_store_2</string>
            <key>DefaultValue</key>
            <string>-</string>
        </dict>
        
        <!-- 3ème enseigne favorite -->
        <dict>
            <key>Type</key>
            <string>PSTitleValueSpecifier</string>
            <key>Title</key>
            <string>🥉 Troisième</string>
            <key>Key</key>
            <string>top_store_3</string>
            <key>DefaultValue</key>
            <string>-</string>
        </dict>
    </array>
</dict>
</plist>

